body{
  font-family: Arial;
  color: SlateGray;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  height: auto;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: SlateGray;
  color: black;
}

.topnav a.active {
  background-color: #1a8cff;
  color: white;
}

.topnav-right {
  float: right;
}

.cover {
  background: url(../img/cover.jpg) center;
  background-size: cover;
  position: relative;
}

.gaps-between-sections {
  padding: 120px 0;
}

.welcome-message {
    color: white;
    text-align: center;
    position: absolute;
}

.my-info{
  text-align: center;
}

.my-contact{
  text-align: left
}

.btn {
    background-color: #1a8cff;
    line-height: 36px;
    border-radius: 50px;
    cursor: default;
    font-size: 16px;
    cursor: default;
    display: inline-block;
    color: white;
}

.uppercase {
  text-transform: uppercase;
}

.btn:hover {
    background-color: transparent;
    color: white;
}


footer{
  background-color: #333;
  color: white;
  padding-top: 100px;
  text-align: center;

}

footer p{
  margin-top: 0px;
  margin-bottom: 0px;
}

.welcome-message h1 {
  color: white;
  font-size: 68px;
  font-weight: 300;
  line-height: 2em;
}

h6 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 600;
}

@media (max-width: 1199.98px) {
  .banner-area .fullscreen {
    height: 800px !important;
  }
}
